# AH ASSESSMENT | DATA ENGINEERING | TRANSFORM

In [1]:
import findspark
findspark.init()

In [2]:
import os
import shutil
import logging
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit,to_date,regexp_replace,regexp_extract, expr
from pyspark.sql import functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType,DateType
from datetime import datetime,timedelta

In [3]:
# Set up logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

### INITIALISE SPARK SESSION

In [4]:
spark=SparkSession.builder.appName('AH_ASSESSMENT_TRANSFORM').config("spark.jars.packages","com.crealytics:spark-excel_2.12:0.13.7").getOrCreate()

:: loading settings :: url = jar:file:/Users/nncube1/Library/Python/3.10/lib/python/site-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/nncube1/.ivy2/cache
The jars for the packages stored in: /Users/nncube1/.ivy2/jars
com.crealytics#spark-excel_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-57658128-ace1-40d3-a762-8ced1ed4716d;1.0
	confs: [default]
	found com.crealytics#spark-excel_2.12;0.13.7 in central
	found org.apache.poi#poi;4.1.2 in central
	found commons-codec#commons-codec;1.13 in central
	found org.apache.commons#commons-collections4;4.4 in central
	found org.apache.commons#commons-math3;3.6.1 in central
	found com.zaxxer#SparseBitSet;1.2 in central
	found org.apache.poi#poi-ooxml;4.1.2 in central
	found org.apache.poi#poi-ooxml-schemas;4.1.2 in central
	found org.apache.xmlbeans#xmlbeans;3.1.0 in central
	found com.github.virtuald#curvesapi;1.06 in central
	found com.norbitltd#spoiwo_2.12;1.8.0 in central
	found org.scala-lang.modules#scala-xml_2.12;1.3.0 in central
	found com.github.pjfanning#excel-streaming-reader;2.3.6 in central
	found com.github.pjfanning#poi-shared-strings;1.0.4 in central
	found com.h2database#h2;1.4.200 in central
	found org.apache.commons#commons-text;1.8 in central
	found org.apache.commons#commons-lang3;3.9 in central
	found xml-apis#xml-apis;1.4.01 in central
	found org.slf4j#slf4j-api;1.7.30 in central
	found org.apache.commons#commons-compress;1.20 in central
:: resolution report :: resolve 1812ms :: artifacts dl 65ms
	:: modules in use:
	com.crealytics#spark-excel_2.12;0.13.7 from central in [default]
	com.github.pjfanning#excel-streaming-reader;2.3.6 from central in [default]
	com.github.pjfanning#poi-shared-strings;1.0.4 from central in [default]
	com.github.virtuald#curvesapi;1.06 from central in [default]
	com.h2database#h2;1.4.200 from central in [default]
	com.norbitltd#spoiwo_2.12;1.8.0 from central in [default]
	com.zaxxer#SparseBitSet;1.2 from central in [default]
	commons-codec#commons-codec;1.13 from central in [default]
	org.apache.commons#commons-collections4;4.4 from central in [default]
	org.apache.commons#commons-compress;1.20 from central in [default]
	org.apache.commons#commons-lang3;3.9 from central in [default]
	org.apache.commons#commons-math3;3.6.1 from central in [default]
	org.apache.commons#commons-text;1.8 from central in [default]
	org.apache.poi#poi;4.1.2 from central in [default]
	org.apache.poi#poi-ooxml;4.1.2 from central in [default]
	org.apache.poi#poi-ooxml-schemas;4.1.2 from central in [default]
	org.apache.xmlbeans#xmlbeans;3.1.0 from central in [default]
	org.scala-lang.modules#scala-xml_2.12;1.3.0 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from central in [default]
	xml-apis#xml-apis;1.4.01 from central in [default]
	:: evicted modules:
	org.apache.commons#commons-compress;1.19 by [org.apache.commons#commons-compress;1.20] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   21  |   0   |   0   |   1   ||   20  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-57658128-ace1-40d3-a762-8ced1ed4716d
	confs: [default]
	0 artifacts copied, 20 already retrieved (0kB/60ms)
23/10/11 18:17:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
spark

In [6]:
#PYSPARK
spark.conf.set("spark.sql.legacy.allowUntypedScalaUDF", "true")  # Equivalent to pd.set_option('mode.chained_assignment', None)
spark.conf.set("spark.sql.repl.eagerEval.enabled", "true")  # Equivalent to pd.set_option('display.max_rows', None)
spark.conf.set("spark.sql.repl.eagerEval.maxNumRows", 100)  # Equivalent to pd.set_option('display.max_columns', None)
spark.conf.set("spark.sql.repl.eagerEval.truncate", 0)
spark.conf.set("zeppelin.spark.printREPLOutput", "true")# Equivalent to pd.set_option('display.expand_frame_repr', False)

#PANDAS
pd.set_option('mode.chained_assignment', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

### INGESTING THE FILE FROM THE RAW DATA ZONE FOR TRANSFORMATION

In [7]:
#DEFINING LOCATIONS FOR FILEs
raw_file_location='1.RAW_DATA_LAYER'
transformation_file_location='2.TRANSFORMATION_LAYER'
artefact_file_location='4.ARTEFACTS'

In [8]:
# EXTRACTING THE LIST OF FILES IN THE DIRECTORY
source_files = os.listdir(raw_file_location)
source_files

['modelling_2023-10-04.xlsx']

In [9]:
if '.DS_Store' in source_files:
    file_path = os.path.join(raw_file_location, '.DS_Store')
    os.remove(file_path)
    
source_files

['modelling_2023-10-04.xlsx']

In [10]:
# IF FILE EXISTS,MOVE IT TO THE RAW DATA LAYER,IF NOT THROW AN ERROR.

if source_files:
    file_name=source_files[0]
    source_file_path = os.path.join(raw_file_location, file_name)
    try:
        df = spark.read.format("com.crealytics.spark.excel") \
            .option("header", "true") \
            .option("inferSchema", "True") \
            .option("truncate", "false") \
            .load(source_file_path)
        logger.info(f"Successfully moved {file_name} from {source_file_path} to {destination_file_path}.")

        
        #lower case columns just in case
        df = df.toDF(*[column.lower() for column in df.columns])
    except Exception as e:
        logger.error(f"Error: {str(e)}")

else:
    raise FileNotFoundError(f"Sorry, no files exist in the folder '{landing_file_location}'.")

ERROR:__main__:Error: name 'destination_file_path' is not defined

### DATA CLEANING

##### Sorting out dates | visit_start_date,visit_end_date,pet_dob,dt

In [11]:
df=df.withColumn("visit_start_date", to_date(col("visit_start_date"), 'dd/MM/yyyy')) \
               .withColumn("visit_end_date", to_date(col("visit_end_date"), 'dd/MM/yyyy')) \
               .withColumn("pet_dob", to_date(col("pet_dob"), 'dd/MM/yyyy')) \
               .withColumn("dt",lit(datetime.now().strftime("%Y%m%d"))) # adding partition date column based on today
               #.withColumn("dt",lit(formatted_date))

##### Sorting out currency | visit_cost

In [12]:
#Remove non-numeric characters from the visit_cost column and it two decimal places

df = df.withColumn("visit_cost_numeric", expr("CAST(regexp_replace(visit_cost, '[^0-9.]', '') AS DECIMAL(10,2))")) \
                  .withColumn("currency", regexp_extract(col("visit_cost"), r'[^\d.]+', 0))

In [13]:
# See distribution of currency
count_per_currency = df.groupBy("currency").count()
count_per_currency

+--------+-----+
|currency|count|
+--------+-----+
|$       |11   |
|£       |989  |
+--------+-----+

In [14]:
''' QUESTION FOR BUSINESS,WAS THIS PAID WITH FOREIGN CURRENCY OR IS IT A MISTAKE?

    IF FOREIGN CURRENCY:
        WE NEED TO CONVERT IT FROM $ TO £
    IF MISTAKE,WE NEED TO REPLACE $ WITH £ 
    
    Since cities seem made up and $ make up 1.1% of the data,I cannot verify this
    For the sake of this assessment,I am just going to assume $ were a mistake'''

' QUESTION FOR BUSINESS,WAS THIS PAID WITH FOREIGN CURRENCY OR IS IT A MISTAKE?\n\n    IF FOREIGN CURRENCY:\n        WE NEED TO CONVERT IT FROM $ TO £\n    IF MISTAKE,WE NEED TO REPLACE $ WITH £ \n    \n    Since cities seem made up and $ make up 1.1% of the data,I cannot verify this\n    For the sake of this assessment,I am just going to assume $ were a mistake'

In [15]:
# Replace $ with £
df = df.withColumn("currency", regexp_replace(col("currency"), "\\$", "£"))

In [16]:
#Confirm removal of $
count_per_currency = df.groupBy("currency").count()
count_per_currency

+--------+-----+
|currency|count|
+--------+-----+
|£       |1000 |
+--------+-----+

In [17]:
# Drop visit_cost to replace it with the version without currency symbols
df=df.drop("visit_cost")
df = df.withColumnRenamed("visit_cost_numeric", "visit_cost")

### DEFINE DESIRED SCHEMA

In [18]:
custom_schema = StructType([
    StructField("visit_id", IntegerType(), True),
    StructField("visit_start_date", DateType(), True),
    StructField("visit_end_date", DateType(), True),
    StructField("visit_cost", DoubleType(), True),
    StructField("currency", StringType(), True),
    StructField("procedure_code", StringType(), True),
    StructField("procedure_desc", StringType(), True),
    StructField("hospital_id", IntegerType(), True),
    StructField("hospital", StringType(), True),
    StructField("owner_id", IntegerType(), True),
    StructField("first_name", StringType(), True),
    StructField("last_name", StringType(), True),
    StructField("email", StringType(), True),
    StructField("address", StringType(), True),
    StructField("city", StringType(), True),
    StructField("postcode", StringType(), True),
    StructField("pet_id", IntegerType(), True),
    StructField("pet_name", StringType(), True),
    StructField("species", StringType(), True),
    StructField("breed", StringType(), True),
    StructField("pet_dob", DateType(), True),
    StructField("dt", StringType(), True)
])

In [19]:
# For each field,cast data type based on custom schema
for field in custom_schema.fields:
    df = df.withColumn(field.name, col(field.name).cast(field.dataType))

In [20]:
#Select desired fields and enforce order

df = df.select("visit_id", "visit_start_date", "visit_end_date", "currency","visit_cost", "procedure_code", "procedure_desc", "hospital_id", "hospital", "owner_id", "first_name", "last_name", "email", "address", "city", "postcode", "pet_id", "pet_name", "species", "breed", "pet_dob","dt")

### DATA QUALITY CHECKS

##### 1. Duplicate Records - Removing any duplicates records in the data

In [21]:
duplicate_counts = df.groupBy(df.columns).count().filter('count > 1')
duplicates_removed=duplicate_counts.count()

if duplicates_removed != 0:
    duplicate_output_path = f"{artefact_file_location}/Duplicates_for_{file_name}.txt"
    print(duplicate_output_path)
    
    # Saving the count of duplicates to a text file for future reference
    with open(duplicate_output_path, 'w') as file:
        file.write(f"Number of Duplicates Removed: {duplicates_removed}")
        logger.info(f"Number of Duplicated removed saved to {duplicate_output_path}.")

    # Deleting duplicates from df
    df = df.dropDuplicates()
    logger.info(f"Duplicates removed")
else:
    pass

##### 2. Invalid emails - Identify invalid emails

In [22]:
df_invalid_emails = df.filter((df["email"].contains("@") == False) & (df["email"] != "")).distinct()
invalid_emails_path = f"{artefact_file_location}/Invalid_emails_for_{file_name}.csv"
if df_invalid_emails.count() !=0:
    df_invalid_emails.coalesce(1).write.mode("overwrite").csv(invalid_emails_path)
    no_invalid_records=df_invalid_emails.count()
else:
    pass

#### 2. Summary stats for Missing Records,Min and Max

In [23]:
pandas_df = df.toPandas()

In [24]:
total_records = pandas_df.shape
print(total_records)

(999, 22)

In [ ]:
no_invalid_records

In [25]:
missing_values = pandas_df.isnull().sum().reset_index()
missing_values.columns = ['field', 'missing_values']
# Calculate the minimum and maximum values for each column



min_values = pandas_df.min().reset_index()
min_values.columns = ['field', 'min']
max_values = pandas_df.max().reset_index()
max_values.columns = ['field', 'max']

data_types = pandas_df.dtypes.reset_index()
data_types.columns = ['field', 'data_type']


total_records = pandas_df.shape[0]
print(total_records)


# Merge the DataFrames on the 'field' column
result_df = pd.merge(data_types,missing_values, on='field')
result_df = pd.merge(result_df, min_values, on='field')
result_df = pd.merge(result_df, max_values, on='field')


# Show the result
print("Missing Values, Min, and Max:")
result_df

999
Missing Values, Min, and Max:

/var/folders/d4/pw84ghpj123_713ztc7q6vdc0000gp/T/ipykernel_10513/2611588153.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  min_values = pandas_df.min().reset_index()
/var/folders/d4/pw84ghpj123_713ztc7q6vdc0000gp/T/ipykernel_10513/2611588153.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  max_values = pandas_df.max().reset_index()

             field data_type  missing_values            min                      max
0         visit_id     int32               0              1                     1000
1         currency    object               0              £                        £
2       visit_cost   float64               0          26.86                  1499.74
3   procedure_code    object               0        00BH4ZZ                  F06Z3MZ
4      hospital_id     int32               0              1                      100
5         hospital    object               0  Abbott-Brekke               Wolf-Smith
6         owner_id     int32               0              1                      200
7       first_name    object               0                                  Zuzana
8        last_name    object               0          Adnam                    todor
9            email    object               0                  zroots4l@shinystat.com
10         address    object               0                    9983 Trailsway Point
11            city    object               0                                    Zili
12        postcode    object               0                                 Y3U 2TM
13          pet_id     int32               0              1                      200
14        pet_name    object               0                                  Zuzana
15         species    object               0       Arachnid                   Rodent
16           breed    object               0  Affenpinscher  Woodpecker, Red-Bellied
17              dt    object               0       20231011                 20231011

### DIMENSIONAL MODELLING

In [26]:
# Create a dimension table for Visit
visits = df.select(
    "visit_id",
    col("visit_start_date").alias("visit_start_date_v"),  # Alias the column to avoid naming conflicts
    col("visit_end_date").alias("visit_end_date_v"), 
    col("currency"),
    col("visit_cost").alias("visit_cost_v"),
    col("procedure_code").alias("procedure_code_v"),
    col("hospital_id").alias("hospital_id_v"),
    col("owner_id").alias("owner_id_v"),
    col("pet_id").alias("pet_id_v"),
    col("dt").alias("dt_v")
).distinct()

# Create dimension tables for Procedure, Hospital, Owner, and Pet
procedures = df.select("procedure_code", "procedure_desc", col("dt").alias("dt_p")).distinct()
hospitals = df.select("hospital_id", "hospital",col("dt").alias("dt_h")).distinct()
owners = df.select("owner_id", "first_name", "last_name", "email", "address", "city", "postcode",col("dt").alias("dt_o")).distinct()
pets = df.select("pet_id", "pet_name", "species", "breed", "pet_dob",col("dt").alias("dt_pt")).distinct()

# Create fact table by joining the dimension tables with the original DataFrame
fact_table = df.join(visits, "visit_id", "inner") \
    .join(procedures, "procedure_code", "inner") \
    .join(hospitals, "hospital_id", "inner") \
    .join(owners, "owner_id", "inner") \
    .join(pets, "pet_id", "inner") \
    .select(
        "visit_id",
        "visit_start_date",
        "visit_end_date",
        "visit_cost",
        "procedure_code",
        "hospital_id",
        "owner_id",
        "pet_id",
        "dt"
    )


# Show the resulting DataFrames
print("Visit Dimension:")
fact_table.printSchema()

# print("Procedure Dimension:")
# procedures

# print("Hospital Dimension:")
# hospitals

# print("Owner Dimension:")
# owners

# print("Pet Dimension:")
# pets

# print("Fact Table:")
# fact_table

Visit Dimension:
root
 |-- visit_id: integer (nullable = true)
 |-- visit_start_date: date (nullable = true)
 |-- visit_end_date: date (nullable = true)
 |-- visit_cost: double (nullable = true)
 |-- procedure_code: string (nullable = true)
 |-- hospital_id: integer (nullable = true)
 |-- owner_id: integer (nullable = true)
 |-- pet_id: integer (nullable = true)
 |-- dt: string (nullable = false)

In [27]:
#RENAME columns for cleaner tables

visits = df.select(
    "visit_id",
    col("visit_start_date").alias("visit_start_date"),  # Remove "_v"
    col("visit_end_date").alias("visit_end_date"), 
    col("currency"),
    col("visit_cost").alias("visit_cost"),
    col("procedure_code").alias("procedure_code"),
    col("hospital_id").alias("hospital_id"),
    col("owner_id").alias("owner_id"),
    col("pet_id").alias("pet_id"),
    col("dt").alias("dt")
).distinct()

    

procedures = procedures.withColumnRenamed("dt_p", "dt")
hospitals = hospitals.withColumnRenamed("dt_h", "dt")
pets = pets.withColumnRenamed("dt_pt", "dt")
owners = owners.withColumnRenamed("dt_o", "dt")

##### WRITE INTO THE TRANSFORMATION LAYER

In [28]:
tables = ['visits', 'procedures', 'hospitals', 'owners', 'pets', 'fact_table']

for table in tables:
    parquet_folder_path = f'{transformation_file_location}/{table}'
    today_date = datetime.now().strftime("%Y%m%d")
    today_partition_path = f'{parquet_folder_path}/dt={today_date}'
    visits.write.mode("overwrite").parquet(today_partition_path)